.css-17pz1kh-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: var(--purple) !important;
}

.css-17pz1kh-MuiButtonBase-root-MuiCheckbox-root {
    color: var(--purple) !important;
}

.css-1azi59h-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: var(--purple) !important;
}

.css-1azi59h-MuiButtonBase-root-MuiCheckbox-root {
    color: var(--purple) !important;
}