:root {
  --white: #fff;
  --gray: #575757b0;
  --purple: #7367f0;
  --black: #000;
}

.css-17pz1kh-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: var(--purple);
}

.css-17pz1kh-MuiButtonBase-root-MuiCheckbox-root {
  color: var(--purple);
}

.blackLink {
 color: var(--black);
 text-decoration: underline;
}

a {
  text-decoration: none;
}
